html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background: #91B7C7;
    background: -moz-linear-gradient(top,  #91B7C7 0%, #FEFCFD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91B7C7), color-stop(100%,#FEFCFD));
    background: -webkit-linear-gradient(top,  #91B7C7 0%,#FEFCFD 100%);
    background: -o-linear-gradient(top,  #91B7C7 0%,#FEFCFD 100%);
    background: -ms-linear-gradient(top,  #91B7C7 0%,#FEFCFD 100%);
    background: linear-gradient(top,  #91B7C7 0%,#FEFCFD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91B7C7', endColorstr='#FEFCFD',GradientType=0 ); 
    background-attachment: fixed;

}
     
}
 
h1 {
    font-size: 90px;
}
 
p {
    width: 80%;
    font-size: 23px;
    line-height: 1.3em;
    margin: 1.1em auto;
    /*text-align: center;*/
    word-wrap: break-word;
}
 
#subscribe {
    margin: 0 auto;
    /*text-align: center;*/
}
 
input[type=email] {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}
 
input[type=submit] {
    position: absolute;
    margin-left: -105px;
    margin-top: 5px;
    padding: 10px;
    /*width: 100px;*/
    height: 50px;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 4px #000;
    margin-top: 20px;
}
 
p {
    width: 80%;
    font-size: 18px;
    line-height: 1.3em;
    color: #000;
    /*margin: 1.1em auto;*/
    /*text-align: center;*/
    text-shadow: 0 0 2px rgba(247, 209, 205, 0.9);
    overflow: scroll;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}
 
::-moz-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}
 
input {
 font-family: "Helvetica Neue", Helvetica, sans-serif;
 font-size: 25px;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 -o-transition: all .4s ease;
 transition: all .4s ease;
}

input[type=submit] {
  position: absolute;
  margin-left: -105px;
  margin-top: 5px;
  font-size: 25px;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  padding: 10px;
  /*width: 100px;*/
  height: 50px;
  border: none;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#c3d7ff));
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#c3d7ff 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%,#c3d7ff 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%,#c3d7ff 100%);
  background: linear-gradient(top, #f0f0f0 0%,#c3d7ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c3d7ff',GradientType=0 );
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
 
input[type=submit]:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /*width: 125px;*/
  margin-left: -130px;
   
}
 
input[type=submit]:active {
  background: #c3d7ff;
  background: -moz-linear-gradient(top,  #c3d7ff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d7ff), color-stop(100%,#f0f0f0));
  background: -webkit-linear-gradient(top,  #c3d7ff 0%,#f0f0f0 100%);
  background: -o-linear-gradient(top,  #c3d7ff 0%,#f0f0f0 100%);
  background: -ms-linear-gradient(top,  #c3d7ff 0%,#f0f0f0 100%);
  background: linear-gradient(top,  #c3d7ff 0%,#f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d7ff', endColorstr='#f0f0f0',GradientType=0 );
   
}

p a {
 color: #F87060;
 border-bottom: 2px solid #2da1ec;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 -o-transition: all .4s ease;
 transition: all .4s ease;
} 
p a:hover {
 color: #F87060;
 border-bottom: 2px solid #fff;
}

@import url(animate.css);
.container {
 /*width: 500px;*/
 /*height: 300px;*/
 top: 10%;
 left: 33%;
 /*margin-top: -150px;*/
 /*margin-left: -250px;*/
 /*text-align: center;*/
 -webkit-animation-name: bounceInDown;
 -webkit-animation-fill-mode: both;
 -webkit-animation-duration: 1.5s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: linear;
 -moz-animation-name: bounceInDown;
 -moz-animation-fill-mode: both;
 -moz-animation-duration: 1.5s;
 -moz-animation-iteration-count: 1;
 -moz-animation-timing-function: linear;
 animation-name: bounceInDown;
 animation-fill-mode: both;
 animation-duration: 1.5s;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

img {

    margin-top: 20px;
    max-width: 400px;
    max-height:400px;
    width: 100%;
    height: 100%;
}

.btn-primary {
  color: white;
  /*background-color: #F05F40;*/
  /*border-color: #F05F40;*/
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}


@media (max-width: 750px) { .container{ left: 0% } }
@media (min-width: 750px) and (max-width: 970px ) { .container{ left: 0% } }
@media (min-width: 970px) and (max-width:   1170px) { .container{ left: 33% } }
@media (min-width:  1170px) { .container{ left: 33% } }